html, body {
  text-align: center; 
  font-family: monospace;
  background:black;color:white;
}

img {
  display: block;
  max-width: 100px;
  height: auto;
  margin: 3em auto 0;
}

h1 {
  font-weight: 500;
  font-size: clamp(2em, 10vw, 4em);
  margin: 0.25em auto;
  letter-spacing: 0.1em;
}

.ticker {
  font-size:150%;
  text-transform: uppercase;
  display:flex;
  align-items: center;
  justify-content: center;
}

.ticker span {
  display:inline-block;
  margin-right:0.33em;
}