.docs-layout {
    display: flex;
    flex-direction: row;
}

.docs-nav {
    width: 100%;
    max-width: min-content;
    padding-block: 1rem;
    padding-inline: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.docs-nav nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 1rem;
}

.docs-nav a {
    display: block;
    text-decoration: none;
}

.hot-tip {
    background-color: rebeccapurple;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 1rem;
}

.hot-tip-title {
    display: block;
    margin-bottom: 0.5rem;
}