html {
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  color: white;
  background: #272B3C;
  min-width: 300px;
  text-align: center;
  font-family: monospace
}

body {
  margin: 0;
  line-height: 1.5;
}

p, h1, h2, h3, h4 {
  margin: 0 auto;
  padding: 0;
}

a {
  color: white
}

p {
  margin: 1.5em auto;
}

img.logo {
  margin: 1em auto;
  width: 80vw;
  height: auto;
  max-width: 280px;
  display: block;
}

.gh {
  display: block;
  padding: 1em 0.5em;
  background: rgba(0, 0, 0, 0.2);
  margin: 2em auto 2em;
  text-align: center;
  font-weight: bold;
  transition: 0.2s;
  border-radius: 0.65em;
  max-width: 150px;
  text-decoration: none;
  position: relative;
  z-index: 3;
}

.gh:hover, .ex:hover {
  background: white;
  color: #292D3E;
  cursor: pointer;
}

h1 {
  font-size: 200%;
  text-transform: uppercase;
}

h2 {
  font-weight: 200;
  font-size: 100%;
}

h3 {
  font-size: 250%;
  margin-bottom: 0.5rem;
}

h4 {
  margin: 0 0 2em;
  font-weight: 200;
}

p {
  margin: 0;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin: auto;
}

.ex {
  margin: 0 0.5rem 1rem;
  display: block;
  text-decoration: none;
  max-width: 450px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 2rem;
  flex: 1 1 450px;
  min-height: 165px;
  box-sizing: border-box;
  transition: 0.2s;
}

::selection {
  background: #b2ff9e;
  color: black;
}
