html {
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  color: white;
  background: #272B3C;
  min-width: 300px;
  font-family: Inter var, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

body {
  margin: 0;
  text-align: left;
}

@keyframes float {
  0%, 100% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-5vmin);
  }

}

#ghost {
  display: none;
  animation: float 5s infinite;
}

@media(min-width:600px) {
  #ghost {
    display: block;
  }

}

p, h1, h2, h3 {
  margin: 1em auto;
  max-width: 700px;
  padding: 0 1em;
  position: relative;
  z-index: 2;
}

a {
  color: white
}

p {
  margin: 1.5em auto;
}

img:first-of-type {
  margin: 1em auto 0;
  display: block;
  width: 100%;
  height: auto;
  max-width: 200px;
  position: relative;
  z-index: 3;
}

img.logo {
  margin: 2em auto 1em;
  width: 90vw;
  height: auto;
  max-width: 350px;
}

.gh {
  display: block;
  padding: 1em 0.5em;
  background: rgba(0, 0, 0, 0.33);
  margin: 1em auto 3em;
  text-align: center;
  font-weight: bold;
  border-radius: 0.65em;
  max-width: 150px;
  position: relative;
  z-index: 3;
}

.gh:hover {
  background: white;
  color: #292D3E;
  cursor: pointer;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 0 0 0;
  width: 100%;
  font-size: 400%;
  max-width: 100%;
}

h2 {
  text-align: center;
  font-weight: 400;
  margin-top: 0;
}

::selection {
  background: #b2ff9e;
  color: black;
}

ol, ul {
  margin: 0 auto 2em;
  padding: 0 1em;
  max-width: 700px;
  list-style: none;
  margin: auto;
  position: relative;
  line-height: 1.5;
  z-index: 2;
}

li:before {
  content: '—';
  opacity: 1;
  color: rgba(0, 0, 0, 0.2);
  margin-left: 0px;
  margin-right: 10px;
}

ul.graveyard {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  list-style: none;
  position: relative;
  overflow: hidden;
  z-index: 2;
  box-sizing: border-box;
  margin: 3em auto 0;
}

ul.graveyard li {
  flex: 0 0 50%;
  padding: 2em;
  color: rgba(255, 255, 255, 0.5);
}

@media(min-width:600px) {
  ul.graveyard li {
    flex: 0 0 50px;
  }

}

ul.graveyard li:before {
  display: none;
}

ul.graveyard li img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
}

ul.graveyard figcaption {
  white-space: nowrap;
  font-size: 80%;
}
