name: Format, Lint, Test

on:
  push:
    branches: [2.0]

jobs:
  fmt-lint-test:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Setup repo
        uses: actions/checkout@v2

      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x
      
      - uses: actions/cache@v3
        with:
          path: |
            ~/.deno
            ~/.cache/deno
          key: ${{ runner.os }}-deno-${{ hashFiles('**/deps.ts') }}

      - name: Verify formatting
        run: deno fmt --check

      - name: Run linter
        run: deno lint
      
      # - name: Run tests
      #   run: deno task test
