name: fmt, lint + test

on:
  push:
    branches: [master]
    paths-ignore:
      - '.devcontainer/**'
      - '.vscode/**'
  pull_request:
    branches: [master]
    paths-ignore:
      - '.devcontainer/**'
      - '.vscode/**'

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Setup repo
        uses: actions/checkout@v2

      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x
      
      - uses: actions/cache@v3
        with:
          path: |
            ~/.deno
            ~/.cache/deno
          key: ${{ runner.os }}-deno-v1-${{ hashFiles('**/deps.ts', '**/deps.dev.ts') }}

      - name: Verify formatting
        run: deno fmt --check

      - name: Run linter
        run: deno lint
      
      - name: Run tests
        run: deno task test 

      - name: Setup Chrome
        run: deno run -A --unstable https://deno.land/x/puppeteer@9.0.2/install.ts

      - name: Run puppeteer tests
        run: deno task test:puppeteer
